<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lllyl2012.gmall.user.mapper.base.UmsMemberLevelBaseMapper">


    <insert id="insertUmsMemberLevel"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `ums_member_level`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="name!=null">
                        `name`,
                    </if>
                    <if test="growthPoint!=null">
                        `growth_point`,
                    </if>
                    <if test="defaultStatus!=null">
                        `default_status`,
                    </if>
                    <if test="freeFreightPoint!=null">
                        `free_freight_point`,
                    </if>
                    <if test="commentGrowthPoint!=null">
                        `comment_growth_point`,
                    </if>
                    <if test="priviledgeFreeFreight!=null">
                        `priviledge_free_freight`,
                    </if>
                    <if test="priviledgeSignIn!=null">
                        `priviledge_sign_in`,
                    </if>
                    <if test="priviledgeComment!=null">
                        `priviledge_comment`,
                    </if>
                    <if test="priviledgePromotion!=null">
                        `priviledge_promotion`,
                    </if>
                    <if test="priviledgeMemberPrice!=null">
                        `priviledge_member_price`,
                    </if>
                    <if test="priviledgeBirthday!=null">
                        `priviledge_birthday`,
                    </if>
                    <if test="note!=null">
                        `note`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="name!=null">
                    #{name},
                </if>
                <if test="growthPoint!=null">
                    #{growthPoint},
                </if>
                <if test="defaultStatus!=null">
                    #{defaultStatus},
                </if>
                <if test="freeFreightPoint!=null">
                    #{freeFreightPoint},
                </if>
                <if test="commentGrowthPoint!=null">
                    #{commentGrowthPoint},
                </if>
                <if test="priviledgeFreeFreight!=null">
                    #{priviledgeFreeFreight},
                </if>
                <if test="priviledgeSignIn!=null">
                    #{priviledgeSignIn},
                </if>
                <if test="priviledgeComment!=null">
                    #{priviledgeComment},
                </if>
                <if test="priviledgePromotion!=null">
                    #{priviledgePromotion},
                </if>
                <if test="priviledgeMemberPrice!=null">
                    #{priviledgeMemberPrice},
                </if>
                <if test="priviledgeBirthday!=null">
                    #{priviledgeBirthday},
                </if>
                <if test="note!=null">
                    #{note},
                </if>
        </trim>
        )
    </insert>




    <update id="updateUmsMemberLevel">
        UPDATE `ums_member_level`
        SET
        <trim suffixOverrides=",">
            <if test="name != null and name!=''">
                `name` = #{name},
            </if>
            <if test="growthPoint != null">
                `growth_point` = #{growthPoint},
            </if>
            <if test="defaultStatus != null">
                `default_status` = #{defaultStatus},
            </if>
            <if test="freeFreightPoint != null">
                `free_freight_point` = #{freeFreightPoint},
            </if>
            <if test="commentGrowthPoint != null">
                `comment_growth_point` = #{commentGrowthPoint},
            </if>
            <if test="priviledgeFreeFreight != null">
                `priviledge_free_freight` = #{priviledgeFreeFreight},
            </if>
            <if test="priviledgeSignIn != null">
                `priviledge_sign_in` = #{priviledgeSignIn},
            </if>
            <if test="priviledgeComment != null">
                `priviledge_comment` = #{priviledgeComment},
            </if>
            <if test="priviledgePromotion != null">
                `priviledge_promotion` = #{priviledgePromotion},
            </if>
            <if test="priviledgeMemberPrice != null">
                `priviledge_member_price` = #{priviledgeMemberPrice},
            </if>
            <if test="priviledgeBirthday != null">
                `priviledge_birthday` = #{priviledgeBirthday},
            </if>
            <if test="note != null and note!=''">
                `note` = #{note},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>

    <update id="update">
        UPDATE `ums_member_level`
        SET
        <trim suffixOverrides=",">
        <if test="set.name != null and set.name!=''">
            `name` = #{set.name},
        </if>
        <if test="set.growthPoint != null">
            `growth_point` = #{set.growthPoint},
        </if>
        <if test="set.defaultStatus != null">
            `default_status` = #{set.defaultStatus},
        </if>
        <if test="set.freeFreightPoint != null">
            `free_freight_point` = #{set.freeFreightPoint},
        </if>
        <if test="set.commentGrowthPoint != null">
            `comment_growth_point` = #{set.commentGrowthPoint},
        </if>
        <if test="set.priviledgeFreeFreight != null">
            `priviledge_free_freight` = #{set.priviledgeFreeFreight},
        </if>
        <if test="set.priviledgeSignIn != null">
            `priviledge_sign_in` = #{set.priviledgeSignIn},
        </if>
        <if test="set.priviledgeComment != null">
            `priviledge_comment` = #{set.priviledgeComment},
        </if>
        <if test="set.priviledgePromotion != null">
            `priviledge_promotion` = #{set.priviledgePromotion},
        </if>
        <if test="set.priviledgeMemberPrice != null">
            `priviledge_member_price` = #{set.priviledgeMemberPrice},
        </if>
        <if test="set.priviledgeBirthday != null">
            `priviledge_birthday` = #{set.priviledgeBirthday},
        </if>
        <if test="set.note != null and set.note!=''">
            `note` = #{set.note},
        </if>
        </trim>
        <trim prefix="where" suffixOverrides="and | or">
                <if test="where.idList != null">
                    `id` in
                    <foreach collection="where.idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.idSt !=null">
                `id` >= #{where.idSt} and
            </if>
            <if test="where.idEd!=null">
                `id` &lt;= #{where.idEd} and
            </if>
                <if test="where.nameList != null">
                    `name` in
                    <foreach collection="where.nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyName!=null and where.fuzzyName.size()>0">
                (
                <foreach collection="where.fuzzyName"  separator="or" item="item">
                    `Name` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyName!=null and where.rightFuzzyName.size()>0">
                (
                <foreach collection="where.rightFuzzyName"  separator="or" item="item">
                    `Name` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
                <if test="where.growthPointList != null">
                    `growth_point` in
                    <foreach collection="where.growthPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.growthPointSt !=null">
                `growth_point` >= #{where.growthPointSt} and
            </if>
            <if test="where.growthPointEd!=null">
                `growth_point` &lt;= #{where.growthPointEd} and
            </if>
                <if test="where.defaultStatusList != null">
                    `default_status` in
                    <foreach collection="where.defaultStatusList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.defaultStatusSt !=null">
                `default_status` >= #{where.defaultStatusSt} and
            </if>
            <if test="where.defaultStatusEd!=null">
                `default_status` &lt;= #{where.defaultStatusEd} and
            </if>
                <if test="where.freeFreightPointList != null">
                    `free_freight_point` in
                    <foreach collection="where.freeFreightPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.freeFreightPointSt !=null">
                `free_freight_point` >= #{where.freeFreightPointSt} and
            </if>
            <if test="where.freeFreightPointEd!=null">
                `free_freight_point` &lt;= #{where.freeFreightPointEd} and
            </if>
                <if test="where.commentGrowthPointList != null">
                    `comment_growth_point` in
                    <foreach collection="where.commentGrowthPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.commentGrowthPointSt !=null">
                `comment_growth_point` >= #{where.commentGrowthPointSt} and
            </if>
            <if test="where.commentGrowthPointEd!=null">
                `comment_growth_point` &lt;= #{where.commentGrowthPointEd} and
            </if>
                <if test="where.priviledgeFreeFreightList != null">
                    `priviledge_free_freight` in
                    <foreach collection="where.priviledgeFreeFreightList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priviledgeFreeFreightSt !=null">
                `priviledge_free_freight` >= #{where.priviledgeFreeFreightSt} and
            </if>
            <if test="where.priviledgeFreeFreightEd!=null">
                `priviledge_free_freight` &lt;= #{where.priviledgeFreeFreightEd} and
            </if>
                <if test="where.priviledgeSignInList != null">
                    `priviledge_sign_in` in
                    <foreach collection="where.priviledgeSignInList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priviledgeSignInSt !=null">
                `priviledge_sign_in` >= #{where.priviledgeSignInSt} and
            </if>
            <if test="where.priviledgeSignInEd!=null">
                `priviledge_sign_in` &lt;= #{where.priviledgeSignInEd} and
            </if>
                <if test="where.priviledgeCommentList != null">
                    `priviledge_comment` in
                    <foreach collection="where.priviledgeCommentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priviledgeCommentSt !=null">
                `priviledge_comment` >= #{where.priviledgeCommentSt} and
            </if>
            <if test="where.priviledgeCommentEd!=null">
                `priviledge_comment` &lt;= #{where.priviledgeCommentEd} and
            </if>
                <if test="where.priviledgePromotionList != null">
                    `priviledge_promotion` in
                    <foreach collection="where.priviledgePromotionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priviledgePromotionSt !=null">
                `priviledge_promotion` >= #{where.priviledgePromotionSt} and
            </if>
            <if test="where.priviledgePromotionEd!=null">
                `priviledge_promotion` &lt;= #{where.priviledgePromotionEd} and
            </if>
                <if test="where.priviledgeMemberPriceList != null">
                    `priviledge_member_price` in
                    <foreach collection="where.priviledgeMemberPriceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priviledgeMemberPriceSt !=null">
                `priviledge_member_price` >= #{where.priviledgeMemberPriceSt} and
            </if>
            <if test="where.priviledgeMemberPriceEd!=null">
                `priviledge_member_price` &lt;= #{where.priviledgeMemberPriceEd} and
            </if>
                <if test="where.priviledgeBirthdayList != null">
                    `priviledge_birthday` in
                    <foreach collection="where.priviledgeBirthdayList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test="where.priviledgeBirthdaySt !=null">
                `priviledge_birthday` >= #{where.priviledgeBirthdaySt} and
            </if>
            <if test="where.priviledgeBirthdayEd!=null">
                `priviledge_birthday` &lt;= #{where.priviledgeBirthdayEd} and
            </if>
                <if test="where.noteList != null">
                    `note` in
                    <foreach collection="where.noteList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
            <if test ="where.fuzzyNote!=null and where.fuzzyNote.size()>0">
                (
                <foreach collection="where.fuzzyNote"  separator="or" item="item">
                    `Note` like concat('%',#{item},'%')
                </foreach>
                ) and
            </if>
            <if test ="where.rightFuzzyNote!=null and where.rightFuzzyNote.size()>0">
                (
                <foreach collection="where.rightFuzzyNote"  separator="or" item="item">
                    `Note` like concat(#{item},'%')
                </foreach>
                ) and
            </if>
        </trim>
    </update>


    <resultMap type="top.lllyl2012.gmall.bean.UmsMemberLevel" id="UmsMemberLevelMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="growthPoint" column="growth_point"/>
        <result property="defaultStatus" column="default_status"/>
        <result property="freeFreightPoint" column="free_freight_point"/>
        <result property="commentGrowthPoint" column="comment_growth_point"/>
        <result property="priviledgeFreeFreight" column="priviledge_free_freight"/>
        <result property="priviledgeSignIn" column="priviledge_sign_in"/>
        <result property="priviledgeComment" column="priviledge_comment"/>
        <result property="priviledgePromotion" column="priviledge_promotion"/>
        <result property="priviledgeMemberPrice" column="priviledge_member_price"/>
        <result property="priviledgeBirthday" column="priviledge_birthday"/>
        <result property="note" column="note"/>
    </resultMap>


    <select id="queryUmsMemberLevel" resultMap="UmsMemberLevelMap">
        select
        <include refid="baseResult"></include>
        from  `ums_member_level`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test="growthPoint != null">
                `growth_point` = #{growthPoint} and
            </if>
            <if test="defaultStatus != null">
                `default_status` = #{defaultStatus} and
            </if>
            <if test="freeFreightPoint != null">
                `free_freight_point` = #{freeFreightPoint} and
            </if>
            <if test="commentGrowthPoint != null">
                `comment_growth_point` = #{commentGrowthPoint} and
            </if>
            <if test="priviledgeFreeFreight != null">
                `priviledge_free_freight` = #{priviledgeFreeFreight} and
            </if>
            <if test="priviledgeSignIn != null">
                `priviledge_sign_in` = #{priviledgeSignIn} and
            </if>
            <if test="priviledgeComment != null">
                `priviledge_comment` = #{priviledgeComment} and
            </if>
            <if test="priviledgePromotion != null">
                `priviledge_promotion` = #{priviledgePromotion} and
            </if>
            <if test="priviledgeMemberPrice != null">
                `priviledge_member_price` = #{priviledgeMemberPrice} and
            </if>
            <if test="priviledgeBirthday != null">
                `priviledge_birthday` = #{priviledgeBirthday} and
            </if>
            <if test="note != null and note!=''">
                `note` = #{note} and
            </if>
            <if test = "(_parameter instanceof top.lllyl2012.gmall.bean.UmsMemberLevel$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="nameList != null">
                    `name` in
                    <foreach collection="nameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName"  separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName"  separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="growthPointList != null">
                    `growth_point` in
                    <foreach collection="growthPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="growthPointSt !=null">
                    `growth_point` >= #{growthPointSt} and
                </if>
                <if test="growthPointEd!=null">
                    `growth_point` &lt;= #{growthPointEd} and
                </if>
                <if test="defaultStatusList != null">
                    `default_status` in
                    <foreach collection="defaultStatusList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="defaultStatusSt !=null">
                    `default_status` >= #{defaultStatusSt} and
                </if>
                <if test="defaultStatusEd!=null">
                    `default_status` &lt;= #{defaultStatusEd} and
                </if>
                <if test="freeFreightPointList != null">
                    `free_freight_point` in
                    <foreach collection="freeFreightPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="freeFreightPointSt !=null">
                    `free_freight_point` >= #{freeFreightPointSt} and
                </if>
                <if test="freeFreightPointEd!=null">
                    `free_freight_point` &lt;= #{freeFreightPointEd} and
                </if>
                <if test="commentGrowthPointList != null">
                    `comment_growth_point` in
                    <foreach collection="commentGrowthPointList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="commentGrowthPointSt !=null">
                    `comment_growth_point` >= #{commentGrowthPointSt} and
                </if>
                <if test="commentGrowthPointEd!=null">
                    `comment_growth_point` &lt;= #{commentGrowthPointEd} and
                </if>
                <if test="priviledgeFreeFreightList != null">
                    `priviledge_free_freight` in
                    <foreach collection="priviledgeFreeFreightList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priviledgeFreeFreightSt !=null">
                    `priviledge_free_freight` >= #{priviledgeFreeFreightSt} and
                </if>
                <if test="priviledgeFreeFreightEd!=null">
                    `priviledge_free_freight` &lt;= #{priviledgeFreeFreightEd} and
                </if>
                <if test="priviledgeSignInList != null">
                    `priviledge_sign_in` in
                    <foreach collection="priviledgeSignInList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priviledgeSignInSt !=null">
                    `priviledge_sign_in` >= #{priviledgeSignInSt} and
                </if>
                <if test="priviledgeSignInEd!=null">
                    `priviledge_sign_in` &lt;= #{priviledgeSignInEd} and
                </if>
                <if test="priviledgeCommentList != null">
                    `priviledge_comment` in
                    <foreach collection="priviledgeCommentList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priviledgeCommentSt !=null">
                    `priviledge_comment` >= #{priviledgeCommentSt} and
                </if>
                <if test="priviledgeCommentEd!=null">
                    `priviledge_comment` &lt;= #{priviledgeCommentEd} and
                </if>
                <if test="priviledgePromotionList != null">
                    `priviledge_promotion` in
                    <foreach collection="priviledgePromotionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priviledgePromotionSt !=null">
                    `priviledge_promotion` >= #{priviledgePromotionSt} and
                </if>
                <if test="priviledgePromotionEd!=null">
                    `priviledge_promotion` &lt;= #{priviledgePromotionEd} and
                </if>
                <if test="priviledgeMemberPriceList != null">
                    `priviledge_member_price` in
                    <foreach collection="priviledgeMemberPriceList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priviledgeMemberPriceSt !=null">
                    `priviledge_member_price` >= #{priviledgeMemberPriceSt} and
                </if>
                <if test="priviledgeMemberPriceEd!=null">
                    `priviledge_member_price` &lt;= #{priviledgeMemberPriceEd} and
                </if>
                <if test="priviledgeBirthdayList != null">
                    `priviledge_birthday` in
                    <foreach collection="priviledgeBirthdayList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="priviledgeBirthdaySt !=null">
                    `priviledge_birthday` >= #{priviledgeBirthdaySt} and
                </if>
                <if test="priviledgeBirthdayEd!=null">
                    `priviledge_birthday` &lt;= #{priviledgeBirthdayEd} and
                </if>
                <if test="noteList != null">
                    `note` in
                    <foreach collection="noteList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyNote!=null and fuzzyNote.size()>0">
                    (
                    <foreach collection="fuzzyNote"  separator="or" item="item">
                        `Note` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyNote!=null and rightFuzzyNote.size()>0">
                    (
                    <foreach collection="rightFuzzyNote"  separator="or" item="item">
                        `Note` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryUmsMemberLevelLimit1" resultMap="UmsMemberLevelMap">
        select
        <include refid="baseResult"></include>
        from  `ums_member_level`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="name != null and name!=''">
                `name` = #{name} and
            </if>
            <if test="growthPoint != null">
                `growth_point` = #{growthPoint} and
            </if>
            <if test="defaultStatus != null">
                `default_status` = #{defaultStatus} and
            </if>
            <if test="freeFreightPoint != null">
                `free_freight_point` = #{freeFreightPoint} and
            </if>
            <if test="commentGrowthPoint != null">
                `comment_growth_point` = #{commentGrowthPoint} and
            </if>
            <if test="priviledgeFreeFreight != null">
                `priviledge_free_freight` = #{priviledgeFreeFreight} and
            </if>
            <if test="priviledgeSignIn != null">
                `priviledge_sign_in` = #{priviledgeSignIn} and
            </if>
            <if test="priviledgeComment != null">
                `priviledge_comment` = #{priviledgeComment} and
            </if>
            <if test="priviledgePromotion != null">
                `priviledge_promotion` = #{priviledgePromotion} and
            </if>
            <if test="priviledgeMemberPrice != null">
                `priviledge_member_price` = #{priviledgeMemberPrice} and
            </if>
            <if test="priviledgeBirthday != null">
                `priviledge_birthday` = #{priviledgeBirthday} and
            </if>
            <if test="note != null and note!=''">
                `note` = #{note} and
            </if>
            <if test = "(_parameter instanceof top.lllyl2012.gmall.bean.UmsMemberLevel$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="nameList != null">
                        `name` in
                        <foreach collection="nameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyName!=null and fuzzyName.size()>0">
                    (
                    <foreach collection="fuzzyName"  separator="or" item="item">
                        `Name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyName!=null and rightFuzzyName.size()>0">
                    (
                    <foreach collection="rightFuzzyName"  separator="or" item="item">
                        `Name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="growthPointList != null">
                        `growth_point` in
                        <foreach collection="growthPointList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="growthPointSt !=null">
                    `growth_point` >= #{growthPointSt} and
                </if>
                <if test="growthPointEd!=null">
                    `growth_point` &lt;= #{growthPointEd} and
                </if>
                    <if test="defaultStatusList != null">
                        `default_status` in
                        <foreach collection="defaultStatusList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="defaultStatusSt !=null">
                    `default_status` >= #{defaultStatusSt} and
                </if>
                <if test="defaultStatusEd!=null">
                    `default_status` &lt;= #{defaultStatusEd} and
                </if>
                    <if test="freeFreightPointList != null">
                        `free_freight_point` in
                        <foreach collection="freeFreightPointList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="freeFreightPointSt !=null">
                    `free_freight_point` >= #{freeFreightPointSt} and
                </if>
                <if test="freeFreightPointEd!=null">
                    `free_freight_point` &lt;= #{freeFreightPointEd} and
                </if>
                    <if test="commentGrowthPointList != null">
                        `comment_growth_point` in
                        <foreach collection="commentGrowthPointList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="commentGrowthPointSt !=null">
                    `comment_growth_point` >= #{commentGrowthPointSt} and
                </if>
                <if test="commentGrowthPointEd!=null">
                    `comment_growth_point` &lt;= #{commentGrowthPointEd} and
                </if>
                    <if test="priviledgeFreeFreightList != null">
                        `priviledge_free_freight` in
                        <foreach collection="priviledgeFreeFreightList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priviledgeFreeFreightSt !=null">
                    `priviledge_free_freight` >= #{priviledgeFreeFreightSt} and
                </if>
                <if test="priviledgeFreeFreightEd!=null">
                    `priviledge_free_freight` &lt;= #{priviledgeFreeFreightEd} and
                </if>
                    <if test="priviledgeSignInList != null">
                        `priviledge_sign_in` in
                        <foreach collection="priviledgeSignInList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priviledgeSignInSt !=null">
                    `priviledge_sign_in` >= #{priviledgeSignInSt} and
                </if>
                <if test="priviledgeSignInEd!=null">
                    `priviledge_sign_in` &lt;= #{priviledgeSignInEd} and
                </if>
                    <if test="priviledgeCommentList != null">
                        `priviledge_comment` in
                        <foreach collection="priviledgeCommentList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priviledgeCommentSt !=null">
                    `priviledge_comment` >= #{priviledgeCommentSt} and
                </if>
                <if test="priviledgeCommentEd!=null">
                    `priviledge_comment` &lt;= #{priviledgeCommentEd} and
                </if>
                    <if test="priviledgePromotionList != null">
                        `priviledge_promotion` in
                        <foreach collection="priviledgePromotionList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priviledgePromotionSt !=null">
                    `priviledge_promotion` >= #{priviledgePromotionSt} and
                </if>
                <if test="priviledgePromotionEd!=null">
                    `priviledge_promotion` &lt;= #{priviledgePromotionEd} and
                </if>
                    <if test="priviledgeMemberPriceList != null">
                        `priviledge_member_price` in
                        <foreach collection="priviledgeMemberPriceList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priviledgeMemberPriceSt !=null">
                    `priviledge_member_price` >= #{priviledgeMemberPriceSt} and
                </if>
                <if test="priviledgeMemberPriceEd!=null">
                    `priviledge_member_price` &lt;= #{priviledgeMemberPriceEd} and
                </if>
                    <if test="priviledgeBirthdayList != null">
                        `priviledge_birthday` in
                        <foreach collection="priviledgeBirthdayList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="priviledgeBirthdaySt !=null">
                    `priviledge_birthday` >= #{priviledgeBirthdaySt} and
                </if>
                <if test="priviledgeBirthdayEd!=null">
                    `priviledge_birthday` &lt;= #{priviledgeBirthdayEd} and
                </if>
                    <if test="noteList != null">
                        `note` in
                        <foreach collection="noteList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyNote!=null and fuzzyNote.size()>0">
                    (
                    <foreach collection="fuzzyNote"  separator="or" item="item">
                        `Note` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyNote!=null and rightFuzzyNote.size()>0">
                    (
                    <foreach collection="rightFuzzyNote"  separator="or" item="item">
                        `Note` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `name`,
        `growth_point`,
        `default_status`,
        `free_freight_point`,
        `comment_growth_point`,
        `priviledge_free_freight`,
        `priviledge_sign_in`,
        `priviledge_comment`,
        `priviledge_promotion`,
        `priviledge_member_price`,
        `priviledge_birthday`,
        `note`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof top.lllyl2012.gmall.bean.UmsMemberLevel$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.name==true">
                        `name`,
                    </if>
                    <if test="fetchFields.fetchFields.growthPoint==true">
                        `growth_point`,
                    </if>
                    <if test="fetchFields.fetchFields.defaultStatus==true">
                        `default_status`,
                    </if>
                    <if test="fetchFields.fetchFields.freeFreightPoint==true">
                        `free_freight_point`,
                    </if>
                    <if test="fetchFields.fetchFields.commentGrowthPoint==true">
                        `comment_growth_point`,
                    </if>
                    <if test="fetchFields.fetchFields.priviledgeFreeFreight==true">
                        `priviledge_free_freight`,
                    </if>
                    <if test="fetchFields.fetchFields.priviledgeSignIn==true">
                        `priviledge_sign_in`,
                    </if>
                    <if test="fetchFields.fetchFields.priviledgeComment==true">
                        `priviledge_comment`,
                    </if>
                    <if test="fetchFields.fetchFields.priviledgePromotion==true">
                        `priviledge_promotion`,
                    </if>
                    <if test="fetchFields.fetchFields.priviledgeMemberPrice==true">
                        `priviledge_member_price`,
                    </if>
                    <if test="fetchFields.fetchFields.priviledgeBirthday==true">
                        `priviledge_birthday`,
                    </if>
                    <if test="fetchFields.fetchFields.note==true">
                        `note`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.name==null">
                        `name`,
                    </if>
                    <if test="fetchFields.excludeFields.growthPoint==null">
                        `growth_point`,
                    </if>
                    <if test="fetchFields.excludeFields.defaultStatus==null">
                        `default_status`,
                    </if>
                    <if test="fetchFields.excludeFields.freeFreightPoint==null">
                        `free_freight_point`,
                    </if>
                    <if test="fetchFields.excludeFields.commentGrowthPoint==null">
                        `comment_growth_point`,
                    </if>
                    <if test="fetchFields.excludeFields.priviledgeFreeFreight==null">
                        `priviledge_free_freight`,
                    </if>
                    <if test="fetchFields.excludeFields.priviledgeSignIn==null">
                        `priviledge_sign_in`,
                    </if>
                    <if test="fetchFields.excludeFields.priviledgeComment==null">
                        `priviledge_comment`,
                    </if>
                    <if test="fetchFields.excludeFields.priviledgePromotion==null">
                        `priviledge_promotion`,
                    </if>
                    <if test="fetchFields.excludeFields.priviledgeMemberPrice==null">
                        `priviledge_member_price`,
                    </if>
                    <if test="fetchFields.excludeFields.priviledgeBirthday==null">
                        `priviledge_birthday`,
                    </if>
                    <if test="fetchFields.excludeFields.note==null">
                        `note`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof top.lllyl2012.gmall.bean.UmsMemberLevel$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>